<div class="flex flex-col items-center justify-center h-screen">
<h1 style="font-family: 'Unbounded', cursive;" class="text-3xl mb-24 text-gray-700">MoneyMaestro</h1>
<div class="flex flex-col">
<div class="bg-sky-600 px-10 py-2 rounded-md">
<%= link_to "Sign In", new_user_session_path, class: "btn btn-primary text-gray-200"%></div>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary text-gray-500 mx-9 py-1" %>
</div>
</div>