<%= form_with(model: category) do |form| %>
  <div>
  <div class="bg-white">
    <%= form.text_field :name, placeholder: :Name, class: "input", class:"border-none focus:ring-0"%></br>
    <%= form.text_field :icon, placeholder: :icon, class: "input", class:"border-none focus:ring-0"%>
    </div>
    </br>
    <%= form.submit "Save", class:"text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"%>
  </div>
<% end %>
