<%= form_with(url: category_transactions_path, model: transaction) do |form| %>
    <div class='transaction-form'>
    <div class="bg-white">
    <%= form.text_field :name, class: 'field', placeholder: 'Name', class:"border-none focus:ring-0" %>
    <%= form.text_field :amount, class: 'field', placeholder: 'Amount', class:"border-none focus:ring-0" %>
    </div>
    </br>
    <%= form.submit "Submit", class:"text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
  </div>
<% end %>