<div class="h-[93vh]">
<div class="bg-sky-600 py-3">
  <h1 class="flex justify-center text-xl text-gray-200">New transaction</h1>
</div>
  <%= render "form", transaction: @transaction %>
</div>
  <%= link_to 'BACK TO TRANSACTIONS', category_transactions_path, class: "flex justify-center py-3 px-5 bg-lime-500 text-white block bottom-0" %>
